Repository borglab/gtsam, pull requests merged in 2021-09, with the labels that each got.

#857 Add section about Boost version requirement
  INSTALL.md
Labels: docs, quick-review

#870 Added virtual destructor and re-formatted constructors
  gtsam/inference/BayesTreeCliqueBase.h
Labels: cleanup

#873 Jacobian Factor Wrapping
  gtsam/inference/Key.h
  gtsam/linear/linear.i
  gtsam/nonlinear/nonlinear.i
  python/gtsam/gtsam.tpl
Labels: wrapper

#570 Use METIS system library if so selected
  .github/scripts/unix.sh
  .github/workflows/build-special.yml
  CMakeLists.txt
  cmake/HandleMetis.cmake
  cmake/HandlePrintConfiguration.cmake
  gtsam/3rdparty/CMakeLists.txt
  gtsam/CMakeLists.txt
  gtsam/config.h.in
  gtsam/inference/Ordering.cpp
  gtsam_unstable/partition/FindSeparator-inl.h
  gtsam_unstable/partition/tests/testFindSeparator.cpp
Labels: cmake

#877 Fix bug in HandleTBB.cmake
  cmake/HandleTBB.cmake
Labels: bugfix, cmake, high-priority

#876 Better Error message for TBB handling with versions greater than 2021.1 on OS X
  cmake/FindTBB.cmake
  cmake/HandleTBB.cmake
Labels: bugfix, cmake

#880 Wrapper Update
  wrap/DOCS.md
  wrap/gtwrap/template_instantiator.py
  wrap/tests/expected/matlab/template_wrapper.cpp
  wrap/tests/expected/python/templates_pybind.cpp
  wrap/tests/fixtures/templates.i
  wrap/tests/test_matlab_wrapper.py
  wrap/tests/test_pybind_wrapper.py
Labels: wrapper
