Repository borglab/gtsam, pull requests merged in 2021-04, with the labels that each got.

#729 Wrapper Update + Operator Overloading
  gtsam/gtsam.i
  wrap/.gitignore
  wrap/CMakeLists.txt
  wrap/DOCS.md
  wrap/cmake/GtwrapUtils.cmake
  wrap/cmake/MatlabWrap.cmake
  wrap/cmake/gtwrapConfig.cmake
  wrap/cmake/gtwrapConfig.cmake.in
  wrap/gtwrap/interface_parser/classes.py
  wrap/gtwrap/interface_parser/declaration.py
  wrap/gtwrap/interface_parser/function.py
  wrap/gtwrap/interface_parser/template.py
  wrap/gtwrap/interface_parser/tokens.py
  wrap/gtwrap/interface_parser/type.py
  wrap/gtwrap/pybind_wrapper.py
  wrap/gtwrap/template_instantiator.py
  wrap/templates/pybind_wrapper.tpl.example
  wrap/tests/expected/matlab/+gtsam/PinholeCameraCal3Bundler.m
  wrap/tests/expected/matlab/MultipleTemplatesIntDouble.m
  wrap/tests/expected/matlab/MultipleTemplatesIntFloat.m
  wrap/tests/expected/matlab/MyFactorPosePoint2.m
  wrap/tests/expected/matlab/MyVector12.m
  wrap/tests/expected/matlab/MyVector3.m
  wrap/tests/expected/matlab/PrimitiveRefDouble.m
  wrap/tests/expected/matlab/Test.m
  wrap/tests/expected/matlab/class_wrapper.cpp
  wrap/tests/expected/matlab/special_cases_wrapper.cpp
  wrap/tests/expected/python/class_pybind.cpp
  wrap/tests/expected/python/functions_pybind.cpp
  wrap/tests/expected/python/geometry_pybind.cpp
  wrap/tests/expected/python/inheritance_pybind.cpp
  wrap/tests/expected/python/namespaces_pybind.cpp
  wrap/tests/expected/python/operator_pybind.cpp
  wrap/tests/expected/python/special_cases_pybind.cpp
  wrap/tests/fixtures/class.i
  wrap/tests/fixtures/operator.i
  wrap/tests/fixtures/special_cases.i
  wrap/tests/pybind_wrapper.tpl
  wrap/tests/test_interface_parser.py
  wrap/tests/test_pybind_wrapper.py
Labels: matlab, python

#731 Double + NavState in the wrapper
  gtsam/gtsam.i
Labels: python, quick-review

#734 Disable Wrapper CI for GCC 5 until we optimize the wrapper
  .github/workflows/build-python.yml
Labels: python

#735 KeyFormatter - boost::function to std::function
  gtsam/inference/Key.h
  gtsam/inference/LabeledSymbol.h
  gtsam/inference/Symbol.h
Labels: feature

#736 Bunch of minor fixes
  gtsam/navigation/ImuFactor.cpp
  gtsam/navigation/ImuFactor.h
  gtsam/nonlinear/GncOptimizer.h
Labels: easy-fix, quick-review

#743 Wrapper update
  wrap/cmake/PybindWrap.cmake
  wrap/gtwrap/interface_parser/function.py
  wrap/gtwrap/interface_parser/tokens.py
  wrap/gtwrap/interface_parser/type.py
  wrap/gtwrap/pybind_wrapper.py
  wrap/gtwrap/template_instantiator.py
  wrap/templates/pybind_wrapper.tpl.example
  wrap/tests/expected/matlab/MyFactorPosePoint2.m
  wrap/tests/expected/matlab/TemplatedFunctionRot3.m
  wrap/tests/expected/matlab/class_wrapper.cpp
  wrap/tests/expected/matlab/functions_wrapper.cpp
  wrap/tests/expected/python/class_pybind.cpp
  wrap/tests/expected/python/functions_pybind.cpp
  wrap/tests/fixtures/class.i
  wrap/tests/fixtures/functions.i
  wrap/tests/test_interface_parser.py
Labels: matlab, python

#744 Remove unused body_P_sensor param
  gtsam/navigation/CombinedImuFactor.h
Labels: docs

#745 Remove redundant stuff
  gtsam/geometry/tests/testRot3.cpp
  gtsam/gtsam.i
Labels: cleanup, quick-review

#747 Wrapper Update
  wrap/DOCS.md
  wrap/gtwrap/interface_parser/classes.py
  wrap/gtwrap/interface_parser/module.py
  wrap/gtwrap/interface_parser/namespace.py
  wrap/gtwrap/interface_parser/variable.py
  wrap/gtwrap/pybind_wrapper.py
  wrap/tests/expected/python/namespaces_pybind.cpp
  wrap/tests/fixtures/namespaces.i
  wrap/tests/test_interface_parser.py
Labels: python

#749 Wrapper Update
  wrap/CMakeLists.txt
  wrap/gtwrap/interface_parser/__init__.py
  wrap/gtwrap/interface_parser/classes.py
  wrap/gtwrap/interface_parser/enum.py
  wrap/gtwrap/interface_parser/function.py
  wrap/gtwrap/interface_parser/module.py
  wrap/gtwrap/interface_parser/namespace.py
  wrap/gtwrap/interface_parser/tokens.py
  wrap/gtwrap/interface_parser/utils.py
  wrap/gtwrap/interface_parser/variable.py
  wrap/gtwrap/pybind_wrapper.py
  wrap/gtwrap/template_instantiator.py
  wrap/templates/pybind_wrapper.tpl.example
  wrap/tests/expected/matlab/functions_wrapper.cpp
  wrap/tests/expected/python/enum_pybind.cpp
  wrap/tests/expected/python/functions_pybind.cpp
  wrap/tests/fixtures/enum.i
  wrap/tests/fixtures/functions.i
  wrap/tests/fixtures/special_cases.i
  wrap/tests/test_interface_parser.py
  wrap/tests/test_pybind_wrapper.py
Labels: python

#750 Wrapper Update
  gtsam/gtsam.i
  wrap/README.md
  wrap/gtwrap/pybind_wrapper.py
  wrap/tests/expected/python/enum_pybind.cpp
  wrap/tests/fixtures/enum.i
Labels: matlab, python

#754 Fix printing of preintegration params
  gtsam/navigation/PreintegrationBase.cpp
Labels: quick-review

#738 Update "print" function arguments
  gtsam/gtsam.i
  python/gtsam/gtsam.tpl
  python/gtsam_unstable/gtsam_unstable.tpl
Labels: python

#760 Override print methods
  gtsam/discrete/DiscreteBayesNet.h
  gtsam/discrete/DiscreteFactor.h
  gtsam/discrete/DiscreteFactorGraph.h
  gtsam/geometry/CalibratedCamera.h
  gtsam/geometry/PinholeCamera.h
  gtsam/geometry/PinholePose.h
  gtsam/gtsam.i
  gtsam/inference/BayesNet-inst.h
  gtsam/inference/BayesNet.h
  gtsam/inference/Factor.cpp
  gtsam/inference/Factor.h
  gtsam/inference/FactorGraph-inst.h
  gtsam/inference/FactorGraph.h
  gtsam/linear/GaussianBayesNet.h
  gtsam/linear/GaussianFactor.h
  gtsam/linear/Preconditioner.h
  gtsam/navigation/AttitudeFactor.cpp
  gtsam/navigation/AttitudeFactor.h
  gtsam/navigation/GPSFactor.cpp
  gtsam/navigation/GPSFactor.h
  gtsam/nonlinear/NonlinearFactor.h
  gtsam/nonlinear/NonlinearFactorGraph.h
  gtsam/sfm/BinaryMeasurement.h
  gtsam/symbolic/SymbolicBayesNet.h
  gtsam/symbolic/SymbolicConditional.cpp
  gtsam/symbolic/SymbolicConditional.h
  gtsam/symbolic/SymbolicFactor.h
  gtsam/symbolic/SymbolicFactorGraph.h
  gtsam_unstable/discrete/Scheduler.cpp
  gtsam_unstable/discrete/Scheduler.h
  gtsam_unstable/linear/InequalityFactorGraph.h
  gtsam_unstable/nonlinear/ConcurrentFilteringAndSmoothing.h
  gtsam_unstable/nonlinear/FixedLagSmoother.h
  gtsam_unstable/slam/EquivInertialNavFactor_GlobalVel_NoBias.h
Labels: python, refactor
