Repository borglab/gtsam, pull requests merged in 2023-02, with the labels that each got.

#1465 CMakes updates
  CMakeLists.txt
  cmake/HandleGeneralOptions.cmake
  cmake/HandlePrintConfiguration.cmake
  timing/CMakeLists.txt
Labels: cmake

#1466 Better Hybrid support
  gtsam/hybrid/HybridGaussianFactorGraph.cpp
  gtsam/hybrid/HybridNonlinearFactorGraph.cpp
  gtsam/hybrid/HybridSmoother.cpp
  gtsam/hybrid/HybridSmoother.h
  gtsam/hybrid/tests/testGaussianMixtureFactor.cpp
  gtsam/hybrid/tests/testHybridGaussianFactorGraph.cpp
Labels: quick-review

#1467 Cherry-pick fixes from 4.2 release
  cmake/GtsamPrinting.cmake
  cmake/HandleTBB.cmake
  gtsam/hybrid/HybridGaussianFactorGraph.cpp
  gtsam/hybrid/HybridNonlinearFactorGraph.cpp
  gtsam/hybrid/HybridSmoother.cpp
  gtsam/hybrid/HybridSmoother.h
  gtsam/hybrid/tests/testGaussianMixtureFactor.cpp
  gtsam/hybrid/tests/testHybridGaussianFactorGraph.cpp
Labels: quick-review

#1469 Cmake Compatibility
  CMakeLists.txt
Labels: cmake, quick-review

#466 [RFC] GTSAM ReadTheDocs site
  .gitignore
  .readthedocs.yml
  doc/cholesky.pdf
  docs/Doxyfile
  docs/Makefile
  docs/_static/.gitignore
  docs/make.bat
  docs/source/Bindings.rst
  docs/source/Building.rst
  docs/source/CppExamples.rst
  docs/source/FactorGraphs.rst
  docs/source/Installing.rst
  docs/source/KeyConcepts.rst
  docs/source/LandmarkBasedSLAM.rst
  docs/source/MatlabExamples.rst
  docs/source/ModelingRobotMotion.rst
  docs/source/MoreApplications.rst
  docs/source/Overview.rst
  docs/source/PoseSLAM.rst
  docs/source/PythonExamples.rst
  docs/source/RobotLocalization.rst
  docs/source/StructureFromMotion.rst
  docs/source/TutorialCreateNewFactor.rst
  docs/source/Tutorials.rst
  docs/source/_static/.gitignore
  docs/source/conf.py
  docs/source/iSAM.rst
  docs/source/index.rst
  gtsam/mainpage.dox
  gtsam_unstable/gtsam_unstable.dox
Labels: docs, wip
